# =====================
# General
# =====================
.DS_Store
.env
.env.local

# =====================
# Python / Django
# =====================
backend/venv/
__pycache__/
*.py[cod]
*.sqlite3
*.log
venv/

# Django
staticfiles/
media/

# =====================
# Node / React
# =====================
node_modules/
frontend/dist/

# =====================
# IDE
# =====================
.vscode/
.idea/
# Share run configurations with team
!.idea/runConfigurations/
/backend/firebase-key.json
